.inform{

}
.inform li{
    width: 400px;
    margin-left: 25px;
    border-style: none;
}
.discuss{
    margin-top: 200px;
}
.discuss li{
    border-style: none;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    line-height: 50px;
    text-align: center;
    background-color: #cccccc;
}